<div class="jumbotron mt-5">
    <h1 class="display-3">Welcome!</h1>
    <p class="lead">Auth Sinpapeles is a domain authenticator: you can login in websites using your domain as username.
    </p>
    <hr class="my-4">

    <p class="lead">
        <a class="btn btn-primary btn-lg mr-2" href="http://github.com/Falci/auth.sinpapeles" role="button">Github</a>
        <a class="btn btn-primary btn-lg mr-2" href="https://github.com/handshake-org/hips" role="button">Protocol</a>
        <a class="btn btn-primary btn-lg" href="https://github.com/Falci/auth.lib" role="button">Auth lib</a>
    </p>
</div>